{% extends "jeffs_site/base.html" %}

{% block header %}
  <div class="jumbotron">
    <div class="container">
      <h1>
        Hi, my name is Jeff and I have stuff for sale.<br />
        <small>Below, me you can find my stuff for sale.</small><hr />
        <h2>Contact me at your mom's house.</h2>
      </h1>
      
      </div>
  </div>
{% endblock header %}

{% block content %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>This is some of my stuff</h2>
          <img class="img-responsive" src="https://what-buddha-said.net/gallery/var/albums/Dhamma-illustrations/rotten_fruit.jpg">
          <p><strong>This is where I talk about some of my stuff.</strong></p>
        </div>
        <div class="col-md-4">
          <h2>This is some more of my stuff</h2>
          <img class="img-responsive" 
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT2qpJio-KIWTU7Ae9wj41ctCWqX8pWU4s1kx3UE4jisMP0wQ0Gw">
          <p><strong>This is where I talk about more of my stuff.</strong></p>
        </div>
        <div class="col-md-4">
          <h2>Even more stuff down here</h2>
          <img class="img-responsive" 
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyp1Y-lM4YZd1BGl8RyLnvel_kORXfD8GekLIOot621DktnHACow">
          <p><strong>This is where I talk my stuff and junk.</strong></p>
        </div>
      </div>
{% endblock content %}
